<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- PROPERTIES -->
    <property name="logdir" value="/usr/local/var/log/clipfarmer"/>
    <property name="outputdir" value="/usr/local/var/log/clipfarmer/output"/>

    <!-- APPENDERS -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Ensure that you define an encoder -->
        <encoder>
            <pattern>time:%d{yyyy-MM-dd'T'HH:mm:ss.SSZ} | logLevel:%level | catchClass:%logger | description:%msg%n</pattern>
        </encoder>
    </appender>

    <!-- ROOT LOGGER -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

    <!-- Example of a specific logger -->
    <logger name="com.apa.clipfarmer" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

</configuration>
