<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apa.clipfarmer.mapper.TwitchClipMapper">

    <resultMap id="TwitchClipResultMap" type="com.apa.clipfarmer.mapper.TwitchClipMapper">
        <id property="id" column="ID" />
        <result property="clipId" column="CLIP_ID" />
        <result property="title" column="TITLE" />
        <result property="creatorName" column="CREATOR_NAME" />
        <result property="viewCount" column="VIEW_COUNT" />
        <result property="createdAt" column="CREATED_AT" />
        <result property="streamerId" column="STREAMER_ID" />
    </resultMap>

    <select id="selectAllClips" resultMap="TwitchClipResultMap">
        SELECT ID, CLIP_ID, TITLE, CREATOR_NAME, VIEW_COUNT, CREATED_AT, STREAMER_ID
        FROM twitch_clip
    </select>

    <select id="selectClipById" parameterType="int" resultMap="TwitchClipResultMap">
        SELECT ID, CLIP_ID, TITLE, CREATOR_NAME, VIEW_COUNT, CREATED_AT, STREAMER_ID
        FROM twitch_clip
        WHERE ID = #{id}
    </select>

    <insert id="insertClip" parameterType="com.apa.clipfarmer.mapper.TwitchClipMapper" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO twitch_clip (CLIP_ID, TITLE, CREATOR_NAME, VIEW_COUNT, CREATED_AT, STREAMER_ID)
        VALUES (#{clipId}, #{title}, #{creatorName}, #{viewCount}, #{createdAt}, #{streamerId})
    </insert>

    <update id="updateClip" parameterType="com.apa.clipfarmer.mapper.TwitchClipMapper">
        UPDATE twitch_clip
        SET CLIP_ID = #{clipId}, TITLE = #{title}, CREATOR_NAME = #{creatorName}, VIEW_COUNT = #{viewCount}, CREATED_AT = #{createdAt}, STREAMER_ID = #{streamerId}
        WHERE ID = #{id}
    </update>

    <delete id="deleteClip" parameterType="int">
        DELETE FROM twitch_clip WHERE ID = #{id}
    </delete>

</mapper>
